[Desktop Entry]
Type=Application
Name=Kitwall
Comment=Create a a background image for kitty
Exec=kitwall
X-GNOME-Autostart-enabled=true
NoDisplay=true
Categories=Utility;
