**/*_lock*
**/*.lock*
**/*logs
**/*Logs

**/Code/User/*
!**/Code/User/snippets
!**/Code/User/keybindings.json
!**/Code/User/settings.json
!**/Code/User/dictionary.txt

**/micro/buffers/*

**/mpd/database

**/zsh/plugins/*

**/zsh/themes/*
!**/zsh/themes/waiwai.zsh-theme

**/zsh/.zshrc.bak
